<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55064/ReportService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportServiceSoap"
                contract="ReportServiceReference.ReportServiceSoap" name="ReportServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>